<div id="playParent">
    <div id="preMatchContainer" fxLayoutAlign="center center" *ngIf="!matchActive">
        <div fxLayout="column" fxLayoutGap="8px">
            <div fxLayout="row">
                <label style="min-width: 150px;">URL:</label>
                <input type="text" style="min-width: 300px;" [formControl]="formInputURL"/>
            </div>
            <div fxLayout="row">
                <label style="min-width: 150px;">UID:</label>
                <input type="text" style="min-width: 300px;" [formControl]="formInputUID"/>
            </div>
            <div fxLayout="row">
                <label style="min-width: 150px;">Player is X (O when not checked):</label>
                <input type="checkbox" [formControl]="formInputPlayerX"/>
            </div>
            <div fxLayout="row">
                <button (click)="clickDirectConnect()" style="width: 100%;">Directly connect to game</button>
            </div>
            <div>
                <hr style="width: 100%;">
            </div>
            <div fxLayout="row">
                <label style="min-width: 150px;">Matchmaker URL:</label>
                <input type="text" style="min-width: 300px;" [formControl]="formInputMatchMaker"/>
            </div>
            <div fxLayout="row">
                <label style="min-width: 150px;">Websocket Base Url:</label>
                <input type="text" style="min-width: 300px;" [formControl]="formInputBaseSocketURL"/>
            </div>
            <div fxLayout="row">
                <button (click)="clickDirectConnect()" style="width: 100%;">Play through Matchmaker</button>
            </div>
        </div>
    </div>
    <div id="fieldContainer" *ngIf="matchActive">
        <app-tttfield></app-tttfield>
    </div>
</div>