<div id="playParent">
    <div id="preMatchContainer" fxLayoutAlign="center center" *ngIf="!matchActive">
        <div fxLayout="column" fxLayoutGap="8px">
            <div fxLayout="row">
                <label style="min-width: 150px;">URL:</label>
                <input type="text" style="min-width: 300px;" [formControl]="formInputURL"/>
            </div>
            <div fxLayout="row">
                <label style="min-width: 150px;">UID:</label>
                <input type="text" style="min-width: 300px;" [formControl]="formInputUID"/>
            </div>
            <div fxLayout="row">
                <label style="min-width: 150px;">Player is X (O when not checked):</label>
                <input type="checkbox" [formControl]="formInputPlayerX"/>
            </div>
            <div fxLayout="row">
                <button (click)="clickDirectConnect()" style="width: 100%;">Directly connect to game</button>
            </div>
            <div>
                <hr style="width: 100%;">
            </div>
            <div fxLayout="row">
                <label style="min-width: 150px;">Matchmaker URL:</label>
                <input type="text" style="min-width: 300px;" [formControl]="formInputMatchMaker"/>
            </div>
            <div fxLayout="row">
                <label style="min-width: 150px;">Websocket Base Url:</label>
                <input type="text" style="min-width: 300px;" [formControl]="formInputBaseSocketURL"/>
            </div>
            <div fxLayout="row">
                <button (click)="clickMatchMaker()" style="width: 100%;">Play through Matchmaker</button>
            </div>
        </div>
    </div>
    <div id="fieldContainer" *ngIf="matchActive">
        <app-tttfield></app-tttfield>
    </div>
    <div id="controlContainer" fxLayoutAlign="center" *ngIf="matchActive">
        <div id="controlElementsBox" fxLayout="column" fxLayoutGap="20px;">
            <div fxLayout="row" *ngIf="turn && !gameOver" style="color: green;">
                It's your turn!
            </div>
            <div fxLayout="row" *ngIf="!turn && !gameOver" style="color: red;">
                Please wait for your turn!
            </div>
            <div fxLayout="row" *ngIf="gameOver">
                Game Over
            </div>
            <div fxLayout="row" style="padding-top: 20px;">
                Your color: {{playerColor}}
            </div>
            <div fxLayout="row" fxLayoutAlign="center end" style="height: 85%;">
                <button class="d3tbutton" (click)="onCloseMatch()">Close Match</button>
            </div>
        </div>
    </div>
    <app-dialog-victory (dialogClose)="onVictoryDialogClose()"></app-dialog-victory>
</div>