<div class="nav-header-wrapper" fxLayout="column">
  <div class="header-bar" fxLayoutAlign="start center" fxLayout="row">
    <img src="../../../assets/images/tttfield.png" style="width: 32px; height: 32px;" alt="">
    <div style="margin-left: 10px;">Distributed Tic-Tac-Toe</div>
  </div>
  <div class="nav-bar" fxLayout="row">
    <div *ngFor="let item of items">
      <div class="entry-wrapper" (click)="onClick(item.path)" fxLayoutAlign="center center">
        <div fxLayout="row">
          <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
          {{ item.label }}
        </div>
      </div>
    </div>
  </div>
</div>
